*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

.header-app{
    width: 100%;
    height: 100vh;
    background-color: #3A2C9F;
    display: flex;
    
}